# Task 1 - Calculate the Square Root of 2

This is my solution for task 1 for Emerging Technologies. Author Adam Varden (g00359605@gmit.ie)

We can calculate the square root of 2 without having to use an imports e.g. Math using the Exponent function which is one of the basic operators given by python.[1]

$10^{1/2}$

The Exponent function is used to get the power of a number.[2]
The square root of a number is the same as a number to the power of a half.[3]

[1] Tutorialspoint:How to perform square root without using math module in Python;
 https://www.tutorialspoint.com/How-to-perform-square-root-without-using-math-module-in-Python
 
[2] Tutorialspoint: Python Operators; https://www.tutorialspoint.com/python/python_basic_operators.htm

[3] Simple Math: Why does "x to the half power" mean square root?; https://www.youtube.com/watch?v=PFHCPxAM2vE&ab_channel=SimpleMath

[4]Mathforum:Why Is an Exponent of 1/2 the Same as a Square Root?
 ;http://mathforum.org/library/drmath/view/65402.html

In [14]:
def sqrt2(x):
    """
        Uses Exponent (power) function to the number to the power of a half
    """
    x**(1/2)

### Tests
Tests to verify the answer for the above code.

In [16]:
sqrt(2)

1.4142135623730951

In [8]:
import math
math.sqrt(2)

1.4142135623730951

# Task 2

This is the solution for Task 2

In [94]:
# Efficient numerical arrays.
import numpy as np
# Data frames.
import pandas as pd
# Mains statistics package.
import scipy.stats as stat

In [143]:
table = [ 90, 60, 104, 95], [ 30, 50, 51, 20], [ 30, 40, 45, 35]

In [144]:
df = pd.DataFrame(table,index =['White collar', 'Blue collar', 'No collar'] ,columns =['A', 'B','C','D'])
df

               A   B    C   D
White collar  90  60  104  95
Blue collar   30  50   51  20
No collar     30  40   45  35

In [145]:
# t-Tests
t_AB,p_AB = ss.ttest_ind(table[0], table[1])
t_AC,p_AC = ss.ttest_ind(table[0], table[2])
t_AD,p_AD = ss.ttest_ind(table[0], table[3])
t_BA,p_BA = ss.ttest_ind(table[1], table[0])
t_BC,p_BC = ss.ttest_ind(table[1], table[2])
t_BD, p_BD = ss.ttest_ind(table[1], table[3])
t_CA, p_CA = ss.ttest_ind(table[2], table[0])
t_CB,p_CB = ss.ttest_ind(table[2], table[1])
t_CD, p_CD = ss.ttest_ind(table[2], table[3])
t_DA,p_DA = ss.ttest_ind(table[3], table[0])
t_DB,p_DB = ss.ttest_ind(table[3], table[1])
t_DC,p_DC = ss.ttest_ind(table[3], table[2])

result = p_AB + p_AC +p_AD + p_BA + p_BC+ p_AD +p_CA+ p_CB+ p_CD+p_DA+ p_DB+ p_DC

print(result)

NameError: name 'ct' is not defined